CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
1/myls
1/mycat
1/getcputc
1/hello
1/shell[12]
1/testerror
1/uidgid
2/sysconfpathconf
2/dynamiclimit
3/seek
3/hole
3/file.hole
3/fileflags
3/mycat_buf
4/filetype
4/filetype2
4/access
4/umask
4/foo
4/bar
4/changemod
4/unlink
4/tempfile
4/zap
4/zap2
4/ftw4
4/mycd
4/cdpwd
4/getcwd
4/devrdev
4/mycp
4/ftw4_chdir
4/mkdir_recursive
4/unlink_creat
*.[oa]
*.dylib
*.so
